data/genomes
notebooks/__pycache__
results/data_processing*
results/input_subset/
results/models/
results/old
results/predictions
results/spliser/
results/sptransformer/
scripts/spliser_job_*
data/
scripts/logs
